<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="col-sm-8">
        <h1>Contact list</h1>
    </div>
    <div class="col-sm-4">
        <a th:href="@{/api/v1/contacts/create}" class="btn btn-success">Add contact</a>
    </div>
    <table border="1" cellpadding="10" class="table table-dark table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <td><span th:text="${contact.id}">ID</span></td>
            <td><span th:text="${contact.firstName}">Firstname</span></td>
            <td><span th:text="${contact.lastName}">Lastname</span></td>
            <td><span th:text="${contact.email}">Email</span></td>
            <td><span th:text="${contact.phone}">Phone</span></td>
            <td>
                <a class="btn btn-warning" th:href="@{/api/v1/contacts/edit/{id}(id=${contact.id})}">Edit</a>
                &nbsp;&nbsp;
                <a class="btn btn-danger" th:href="@{/api/v1/contacts/delete/{id}(id=${contact.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>